
@mixin flex-center(){
  display: flex;
  justify-content: center;
  align-items: center;
};
@mixin flex-center-row(){
  @include flex-center();
};
@mixin flex-center-col(){
  @include flex-center();
  flex-direction: column;
};
@mixin outline-box(){
  outline: 2px solid $black;
};